<%= error_messages_for(f.object) %>

<div class="row">

  <div class="col-lg-6">

    <dl class="form-group">
      <dt><%= f.label 'topic' %></dt>
      <dd><%= f.text_field(:topic, class: 'form-control') %></dd>
    </dl>
  </div>

</div>